*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    padding: 5px 12px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #214255;
    margin-bottom: 15px;
    padding: 10px 20px;
    
}

.nav-item-links {
    display: flex;
    gap: 10px;
    color: white;
}

.logout{
    color: #e4aa19;
}

main{
    display: flex;
    gap: 15px;
}

label{
    font-weight: 500 !important;
}

aside{
    background-color: #214255;
    display: flex;
    flex-direction: column;
    width: 180px;
    color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 70vh;
    gap: 5px;
}

aside .header .sidebar-item {
    background: #12364a !important;
    border-top-right-radius: 50px;
}

.sidebar-item a {
    text-decoration: none !important; 
    color: inherit;
}

aside .footer{
    margin-top: auto;
}

.logo img{
    width: 160px;
}

.sidebar-item{
    padding: 10px;
    display: flex;
    gap: 7px;
    align-items: center;
}

.sidebar-item:hover, .sidebar-item:hover a{
    color: #e4aa19;
}

.sidebar-item{
    cursor: pointer !important;
}

.date{
    font-size: 11px;
}

.bg-green-shade{
    background-color: #0b8003 !important;
}

.bg-blue-shade{
    background-color: #214255 !important;
}

.bg-yellow-shade{
    background-color: #fcb712 !important;
}
.bg-disability-assesment{
    background-color: #dc2127 !important;
}
.bg-manage-benificiary{
    background-color: #ab4f44 !important;
}
.bg-disability-certificate{
    background-color: #12679a !important;
}
.bg-verify-eligibility{
    background-color: #0f7e89 !important;
}
.bg-visa-fees{
    background-color: #1191d0 !important;
}
.bg-service6{
    background-color: #1233fe !important;
}


.green-shade{
    color: #0b8003 !important;
}

.blue-shade{
    color: #214255 !important;
}

.yellow-shade{
    color: #fcb712 !important;
}

.active{
    color: #e4aa19 !important;
}

.active,.active a{
    color: #e4aa19 !important;
}

/* page header styles */
.page-heading-container{
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.page-heading-container .heading{
    color: #b2b0b0;
    font-size: 22px;
}

/* search box styles */
.search-box{
    position: relative;
}

.search-box .search-icon{
    position: absolute;
    right: 10px;
    top: 7px;
    color: gray;
}

.search-box-input{
    padding: 5px;
    border-radius: 13px;
    border: 2px solid #e4e5e5;
}

.previous-btn{
    background-color: #12364a !important;
}

.cancel-btn{
    background-color: #c1bfbf !important;
} 